.post {
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

/* header */

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}

/* image */

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

/* text */

.post__text {
    font-weight: normal;
    /* top right bottom left */
    padding: 20px 20px 10px 20px;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__comments{
    padding-left: 20px;
    /* top right bottom left */
    padding: 0px 20px 10px 20px;
}

.post__input {
    flex: 1;
    padding: 10px;
    border: none;
    border-top: 1px solid lightgrey;
    cursor: auto;
}

.post__button {
    flex: 0;
    border: none;
    border: none;
    border-top: 1px solid lightgrey;
    color: #6082a3;
    background-color: transparent;
}

.post__moment {
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 5px;
    color: #8e8e8e;
    text-transform: uppercase;
    padding-left: 20px;
}

.post__comment_time {
    float: right;
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 5px;
    color: #8e8e8e;
    text-transform: uppercase;
}

